PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production
SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_DATASET=production
ADMIN_SESSION_TOKEN=bl0c-le0pards-adm1n-k1nshasa-rdc-202=BlocLeo2026!6
ADMIN_PASSWORD=BlocLeo2026!
DATABASE_URL=postgresql://neondb_owner:npg_SC0Fe5noQAir@ep-cool-shadow-al3q96i4-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
